version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=myproject
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword

  backend:
    build: ./backend
    container_name: drf_backend
    restart: always
    volumes:
      - ./backend/app:/app
      - django_static_volume:/app/staticfiles # Shared volume for CSS
    ports:
      - "8000:8000" # Open for internal testing (optional)
    depends_on:
      - db
    environment:
      - DEBUG=1
      - DB_ENGINE=django.db.backends.postgresql
      - DB_NAME=myproject
      - DB_USER=myuser
      - DB_PASSWORD=mypassword
      - DB_HOST=db
      - DB_PORT=5432

  frontend:
    build: ./frontend
    container_name: react_frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80" # This is the main entry point (http://localhost)
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - django_static_volume:/app/staticfiles # Read-only access to CSS
    depends_on:
      - backend
      - frontend

volumes:
  postgres_data:
  django_static_volume:
