version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db_dev
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    env_file:
      - .env

  backend:
    build: ./backend
    container_name: drf_backend_dev
    volumes:
      - ./backend/app:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    command: python manage.py runserver 0.0.0.0:8000

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: react_frontend_dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  postgres_data_dev:
